{% extends "base.html" %}

{% block content %}
<div class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; min-height: 100vh;">
        <a href="{% url 'staffpanel:dashboard' %}"
           class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">LOGO Staff</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{% url 'staffpanel:dashboard' %}"
                   class="nav-link text-white {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{% url 'staffpanel:user_list' %}"
                   class="nav-link text-white {% if request.resolver_match.url_name == 'user_list' %}active{% endif %}">
                    Usuarios
                </a>
            </li>
            <li>
                <a href="{% url 'staffpanel:etl' %}"
                   class="nav-link text-white {% if request.resolver_match.url_name == 'etl' %}active{% endif %}">
                    ETL
                </a>
            </li>
        </ul>
        <hr>
        <form action="{% url 'logout' %}" method="post" class="d-grid">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
        </form>
    </div>

    <div class="flex-grow-1 p-4">
        {% block main_content %}{% endblock %}
    </div>
</div>
{% endblock %}