{% extends "layouts/base_staff.html" %}

{% block title %}ETL Sincronización - CajaLink{% endblock %}

{% block main_content %}
<h1 class="h2 border-bottom pb-2 mb-3">Sincronización de Datos (ETL)</h1>

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %}"
     role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="card">
    <div class="card-header">
        Subir Archivo de Sincronización (.sql)
    </div>
    <div class="card-body">
        <p class="card-text">Sube el archivo <code>output.sql</code> generado por el script local para poblar o
            actualizar la base de datos.</p>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                {{ form.sql_file.label_tag }}
                {{ form.sql_file }}
            </div>

            <button type="submit" class="btn btn-primary mt-2">Ejecutar Script SQL</button>
        </form>
    </div>
    <div class="card-footer text-muted">
        <strong>Advertencia:</strong> La ejecución de este script puede tardar varios segundos y afectará directamente
        la base de datos.
    </div>
</div>
{% endblock %}